* {
	margin: 0;
	padding: 0;
	color: #1f1f1f;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

span {color: inherit;}
img {max-width: 100%; height: auto;}
hr {display: none;}

html {
	padding-top: 63px;
	font: 100%/100% Arial, Sans-serif;
}

.container {
	max-width: 1266px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 20px;
}
.container:after {
	content: "";
	height: 0;
	display: block;
	overflow: hidden;
	clear: both;
}

/** Feature post of home **/
.highlight-home {
	padding: 60px 0 50px;
	text-align: center;
	background: #f3f2f1;
}

.highlight-home h1 {
	font: 4.5rem/4.5rem sans-serif;
	color: #1f1f1f;
	padding-bottom: 45px;
	max-width: 1000px;
	margin: auto;
}

/** SEARCH **/
.search-box{
	left: 95px;
	padding: 0 10px;
}

.search-box .icon-search {
	color: #FFF;
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	overflow: hidden;
	text-indent: -999px;
	background: url(../images/ico-lupa.png) no-repeat center center;
	background-size: 20px 20px;
}

.search-box .searchform {
	width: 350px;
	height: 33px;
	overflow: hidden;
	vertical-align: middle;
	display: inline-block;
	-ms-transition: opacity .15s ease-in;
	-moz-transition: opacity .15s ease-in;
	transition: opacity .15s ease-in;
}

.search-box.active .searchform {opacity: 1;}

.search-box .screen-reader-text {
	width: 0px;
	height: 0px;
	vertical-align: middle;
	display: inline-block;
	color: transparent;
}

.search-box input[type="text"] {
	padding: 10px;
	width: 83%;
	border: none;
	border-radius: 1px;
	vertical-align: middle;
}

.search-box input[type="submit"] {
	background-color: #f6ca1b;
	padding: 10px;
	border: none;
	color: #fff;
	vertical-align: middle;
	cursor: pointer;
}

.post-time{
	text-decoration: none;
	text-transform: uppercase;
	padding-right: 25px;
	font-size: 1rem;
	font-family: Arial;
	color: #666;
}

/** Lists of posts **/
.line-posts {
	border-bottom: 1px solid #e6e6e6;
	text-align: center;
	padding: 20px 0;
}

.line-posts > * {
	text-align: left;
}

.home .line-posts > div {width: 25%;}

.line-posts > div {
	display: inline-block;
	vertical-align: top;
	width: 33%;
	min-height: 305px;
	position: relative;
	overflow: hidden;
}

.line-posts div:hover,
.line-posts div:hover h3,
.line-posts div:hover .post-time {color: #fff; background-color: rgba(241, 216, 26, 0.9)}

.line-posts h3 {
	padding-top: 30px;
	color: #1f1f1f;
	font: 2rem/1.2 sans-serif;
}

.line-posts div > a {
	padding: 60px 30px 30px;
	min-height: inherit;
	text-decoration: none;
	display: block;
	transition: background-color .1s ease-in;
}

.line-posts > div:hover a {
	background-color: rgba(241, 216, 26, 0.9) !important;
}


.categ-title {
	width: 255px;
	padding: 60px 10px 0 40px;
	display: inline-block;
	vertical-align: top;
	color: #f6ca1b;
	font: 1.88rem/1 sans-serif;
	text-transform: uppercase;
}

.categ-title a {
	color: #f6ca1b;
	text-decoration: none;
}

.post-info {
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

/** FOOTER **/
.footer {
	background-color: #1f1f1f;
	padding:40px 0 0px;
	overflow: hidden;
	clear: both;
	font:12px helvetica;
  text-align: center;
}

.credit {
	padding:40px 0 30px;
	color: #FFF;
  text-align: center;
}

.credit a {color: #FFF;}

.footer .credit {clear: both;}

@media screen and (max-width: 1024px){
	.line-posts div:last-child {display: none;}
}


@media screen and (max-width: 930px) {
	
	html {
		font: 90%/1 Arial, Sans-serif;
		padding-top: 62px;
	}

	.highlight-home {
		padding: 15px 0 25px;
		margin-bottom: 20px;
	}

	.highlight-home h1 {
		font: 2rem/2.3rem sans-serif;
		padding: 0 15px 30px;
	}

	.highlight-home .post-time{padding: 0;}

	.search-box {		
		left: auto;
		right: 0;
		width: 20px;
	}

	.search-box .searchform {
		opacity: 1
	}

	.search-box .searchform {opacity: 1;}
	.search-box {width: 102%;}

	.search-box input[type="text"] {width: 82%;}

	.search-box .icon-search {
		right: 10px;
	}

	.container {
		width: 100%;
	}

	.line-posts,
	.container .line-posts {padding: 20px 0;  border-bottom: none;}

	.post-info {
		border-bottom: 1px dotted rgba(0, 0, 0, .1);
		overflow: hidden;
		padding-bottom: 20px;
	}

	.line-posts > div,
	.home .line-posts > div {
		display: block;
		width: 100%;
		text-align: left;
		height: auto !important;
		min-height: 100px !important;
		border-bottom: 1px solid rgba(0, 0, 0, .05);
	}

	.line-posts div > a {
		padding: 20px;
	}

	.line-posts > div h3 {
		font-size: 1.15rem;
		line-height: 1.5;
		padding-top: 10px;
	}

	/** FOOTER **/
	.footer {
		padding: 20px 0 0px;
	}

	p.credit {
		border-top: 1px solid rgba(255, 255, 255, 0.2);
		margin-top: 30px;
	}


}